In [122]:
from math import sqrt
import pandas as pd
import numpy as np

In [123]:
def read_dataset(path, train_name, test_name):
    train_set = pd.read_csv(path + train_name + '.csv')
    test_set = pd.read_csv(path + test_name + '.csv')
    return train_set, test_set

In [124]:
def get_k(distance, y, k):
    np.transpose(distance)
    
    df = pd.DataFrame({'col1': distance, 'col2' : y})
    df = df.sort_values(by='col1')
    return df.iloc[0:k,:] #change k to be columns according to ur vector

In [125]:
def euclidean(trainrow, y_train ,testrow, k):
    trainrow  = trainrow.values
    testrow  = testrow.values
    distance = []
    for i in range(len(testrow)):
        dist = (np.square(np.subtract(testrow[i], trainrow)))
        dist = (np.sum(dist, axis =1))
        dist = np.sqrt(dist)
        k_vals = get_k(dist, y_train,k)
        np.transpose(k_vals)
        distance.append(k_vals)
    return distance

In [126]:
def predict(distance):
    predictions = []
    for df in distance:
        predictions.append(df['col2'].value_counts().index.tolist()[0])
    return predictions

In [127]:
def knn(trainset, testset, k_values):
    distance = euclidean(trainset.iloc[:, 0:-1], trainset.iloc[:, -1],testset.iloc[:, 0:-1], k_values)
    class_name = predict(distance)
    prediction_bool = (class_name == testset.iloc[:,-1])
    return prediction_bool, class_name

In [151]:
def formulating_output(pred_list, y_test, acc_df):
    for i in range(3,11):
        num_of_test =  acc_df['k=' + str(i)].value_counts().tolist()[0] + acc_df['k=' + str(i)].value_counts().tolist()[1]
        accuracy = acc_df['k=' + str(i)].value_counts().tolist()[0] / num_of_test
        print('K = ', i)
        print('Accuracy = ', accuracy)
        print('Correct: ', acc_df['k=' + str(i)].value_counts().tolist()[0], ' #OfInstances: ', str(num_of_test), '\n\n')
        #for j in range(len(y_test)):
            #print('Actual: ', y_test[j], ' Predicted: ', pred_list[i-3][j])

In [133]:
train, test = read_dataset('E:\ComputerScience\Year 4\First Semster\Machine Learning\Assignments\Assignment-1\ML-Assi1-2\Problem2DataSet', '\TrainData', '\TestData')
accuracy_df = pd.DataFrame({})
pred_list = []
class_name_list = []
for i in range(3,11):
    predictions_bool, class_name= knn(train, test, i)
    class_name_list.append(class_name)
    pred_list.append(predictions_bool)
    new_df = (pd.DataFrame({'k='+ str(i): predictions_bool}))
    accuracy_df = pd.concat([accuracy_df, new_df], axis=1)

In [134]:
accuracy_df.head()

     k=3    k=4    k=5    k=6    k=7    k=8    k=9   k=10
0   True   True  False  False  False  False  False  False
1   True   True   True   True   True   True  False   True
2   True  False  False  False  False  False  False  False
3  False  False  False  False  False  False  False  False
4  False  False  False  False  False  False  False  False

In [152]:
formulating_output(class_name_list, test.iloc[:, -1], accuracy_df)

K =  3
Accuracy =  0.5292792792792793
Correct:  235  #OfInstances:  444


K =  4
Accuracy =  0.5495495495495496
Correct:  244  #OfInstances:  444


K =  5
Accuracy =  0.5495495495495496
Correct:  244  #OfInstances:  444


K =  6
Accuracy =  0.5427927927927928
Correct:  241  #OfInstances:  444


K =  7
Accuracy =  0.5495495495495496
Correct:  244  #OfInstances:  444


K =  8
Accuracy =  0.5495495495495496
Correct:  244  #OfInstances:  444


K =  9
Accuracy =  0.5495495495495496
Correct:  244  #OfInstances:  444


K =  10
Accuracy =  0.5653153153153153
Correct:  251  #OfInstances:  444